.DeviceManager ul {
  list-style-type: none;
  padding: 0px; }

.DeviceManager .searchBar input {
  width: 100%; }

.DeviceManager ul li {
  display: block;
  list-style-type: none;
  text-align: left;
  direction: ltr;
  text-align: right;
  padding: 4px;
  cursor: pointer;
  border: solid; }

.DeviceManager ul li span {
  padding: 5px; }

.DeviceManager .Selected {
  background-color: #C7FF0C; }

.DeviceManager ul li.vmsgroup {
  background-color: linen; }
