.MessageWindow .playlist {
  text-align: center; }

.MessageWindow .imageItem {
  position: relative;
  display: inline-block;
  text-align: center; }

.MessageWindow .imageItem canvas {
  display: inline-block;
  border: 1px solid blue;
  margin: auto;
  top: auto;
  left: auto; }

.MessageWindow .itemContainer {
  padding: 10px 0 30px;
  width: 98%;
  display: inline-block; }

.MessageWindow .itemContainer.editMode {
  border-right: 3px solid red; }
