.DeviceManager ul {
  list-style-type: none;
  padding: 0px; }

.DeviceManager .searchBar input {
  width: 100%; }

.DeviceManager ul li {
  display: block;
  list-style-type: none;
  text-align: left;
  direction: rtl;
  padding: 4px;
  cursor: pointer;
  border: solid; }
