.MessageWindow .imageItem {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  text-align: center; }

.MessageWindow .imageItem canvas {
  display: inline-block;
  border: 1px solid blue;
  margin: auto;
  top: auto;
  left: auto; }

.MessageWindow .imageContainer {
  padding-top: 10px;
  text-align: center;
  align-content: center; }

.MessageWindow .imageContainer img {
  display: block;
  padding: 4px;
  text-align: center; }

.MessageWindow .imageContainer {
  text-align: center; }
