.MessageWindow .toolbar .Button {
  font-size: 40px;
  padding: 5px;
  border: 1px solid gray;
  margin: 5px; }

.MessageWindow .toolbar .Button:hover {
  box-shadow: 1px 1px 5px #888888;
  border: 3px solid gray; }

.MessageWindow .imageContainer {
  padding-top: 10px; }

.MessageWindow .imageContainer img {
  display: block;
  padding: 4px;
  text-align: center; }

.MessageWindow .imageContainer {
  text-align: center; }
